body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #00AEEF;
    /* Azzurro */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    text-align: center;
}

#splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #007bbd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.hidden {
    display: none !important;
}

#person-img {
    width: 250px;
    transition: transform 0.1s;
}

/* Animazione Vibrazione */
.shake {
    animation: shake 0.5s cubic-bezier(.36, .07, .19, .97) both;
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

#btn-action {
    padding: 15px 30px;
    font-size: 1.2rem;
    border: none;
    border-radius: 50px;
    background: white;
    color: #00AEEF;
    cursor: pointer;
    font-weight: bold;
    margin-top: 20px;
}

#suggestion-badge {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgba(255, 255, 255, 0.3);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 0.8rem;
}